header{
    background-color: #C8E3F1;
    font-family: 'Great Vibes', cursive;
    text-align: center;
    color:black;
}

nav{
    background-color:aliceblue;
    color:rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
}